.center-form{
    display: flex;
    justify-content: center;
}
.custom-container {
    margin-top: 40px;
    position: relative;
    width: 400px;
    height: 570px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  }
  
  .custom-brand-logo {
    height: 100px;
    width: 100px;
    // background: url("/edit.png");
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  }
  
  .custom-brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
  }
  
  .custom-inputs {
    text-align: left;
    margin-top: 30px;
  }
  
  .custom-input,
  .custom-button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  
  .custom-input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  
  .custom-button {
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
    border-radius: 11px;
  }
  
  .custom-button:hover {
    box-shadow: none;
  }
  
  .custom-input::placeholder {
    color: gray;
  }
  
  .custom-textarea {
    height: auto;
    height: 100px !important;
  }
  
  .custom-area{
    height: 100px !important;
  }

  .custom-container {
    position: relative;
    width: 350px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    margin: auto;
  }
  
  .custom-form-group {
    margin-bottom: 20px;
  }
  
  .custom-form-control {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: #ecf0f3;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  
  .custom-btn {
    color: white;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  
  .custom-btn:hover {
    box-shadow: none;
  }
  .custom-brand-logo {
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  }
    
  label{
    font-weight: 700;
    padding: 5px;
  }


  input[type=file]::file-selector-button {
  margin-right: 20px;
  width: 100%;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

.file-custom{
    background-color: #084cdf !important;
}